:root {
  --clr-primary: #030303;
  --clr-secondary: #eee;
  --clr-accent: #3376cb;
  --clr-muted: #7b7b7b;
}

.app {
  width: 100%;
  height: 100%;
}

.pricing__cards {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  margin: 2rem 0 2.25rem;
}

hr {
  opacity: 0.5;
  width: 55%;
  margin: 0 auto;
}
