.card {
  border-radius: 6px;
  border: 2px solid var(--clr-secondary);
  border-bottom-width: 3px;
  text-align: center;
  min-width: 250px;
}

.card__header {
  background: var(--clr-secondary);
  padding: 0.8rem 0;
  width: 100%;
  position: relative;
}

.card__headerHeading {
  font-size: 1.325rem;
  font-weight: 400;
}

.card__headerSubHeading {
  margin-top: 0.35rem;
  color: var(--clr-muted);
}

.card__headerIcon {
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 1.325rem;
  font-weight: 500;
}

.card__body {
  padding: 1rem;
  padding-bottom: 0.6rem;
}

.card__bodyContent {
  font-size: 0.9rem;
  margin: 8px;
}

.card__bodyLead > .card__bodyContent {
  font-size: 2.625rem;
  margin: 0;
  margin-bottom: 15px;
}

.card__bodyLead > .card__bodyContent > span {
  font-size: 1rem;
  color: var(--clr-muted);
}

.card__footer {
  padding: 8px;
}

.card__footerLink {
  width: 100%;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid var(--clr-accent);
  text-transform: uppercase;
  color: var(--clr-accent);
  cursor: pointer;
}

.card__footerLink.card__footerLink--selected {
  color: white;
  background-color: var(--clr-accent);
}
