.header {
  text-align: center;
  margin: 0.6rem;
}

.header__heading {
  font-size: 3.125rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.header__content {
  font-size: 1.3rem;
  color: var(--clr-muted);
  max-width: 40%;
  margin: 0 auto;
  line-height: 125%;
}
