.footer {
  margin-top: 1.6rem;
}

.footer__categories {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.footer__categoryLead {
  font-size: 1rem;
  margin-bottom: 5px;
}

.footer__categoryLinks {
  list-style: none;
  line-height: 130%;
}

.footer__categoryLink {
  font-size: 0.8rem;
  margin-bottom: 2px;
  color: var(--clr-muted);
}
